@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 24px 16px;
    margin-top: 10px;
    align-items: start;
    justify-items: stretch;
}
